@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  /* blockquote {
    border: 1px solid #707070;
    page-break-inside: avoid;
  } */

  thead {
    display: table-header-group;
  }

  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/* Normalize.css */
a {
  background-color: transparent; /* Remove the gray background on active links in IE 10. */
}
img {
  border-style: none; /*  Remove the border on images inside links in IE 10. */
}

html {
  font-size: 12px;
  line-height: 1.15; /* Correct the line height in all browsers */
  -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS. */
}

@media screen and (min-width: 32rem) and (max-width: 48rem) {
  html {
    font-size: 15px;
  }
}

@media screen and (min-width: 48rem) {
  html {
    font-size: 16px;
  }
}

p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

h1, h2, h3, h4 {
  margin: 1.414rem 0 0.5rem;
  font-weight: inherit;
}

h1 {
  margin-top: 3rem;
  font-size: 1.6rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: -5px;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.8rem;
}

h6 {
  font-size: 0.7rem;
}

small {
  font-size: 0.6em;
}

/* https://github.com/mrmrs/fluidity */

img,
canvas,
iframe,
video,
svg,
select,
textarea {
  max-width: 100%;
}


body {
  margin: 0;
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  width: 97.5%;
  text-align: left;
  line-height: 1.5;
}

a,
a:visited {
  color: #337AB7;
}

a:hover,
a:focus,
a:active {
  color: #2D4F77;
}

pre {
  background-color: #fafafa;
  padding: 1rem;
  text-align: left;
}

blockquote {
  margin: 0;
  color: #666;
  font-size: 0.95rem;
  font-style: italic;
  text-align: left;
  padding: 0px 12px;
  border-left: 5px solid #eee;
}

ul,
ol,
li {
  text-align: left;
}

p {
  color: #444;
  text-align: justify;
}


/* Main page */
.main_page {
  margin-left:15rem;
  margin-right:1.2rem;
  padding:1px;
}

/* Box */
.alert {
  margin: 1em 0;
  padding: 0.6em;
  border-radius: 4px;
  font-size: 0.95rem;
  text-shadow: 0 1px 0 rgb(255 255 255 / 50%);
}
.alert-info-red {
  background-color: #EAD6D5;
  border-color: #EFDFDE;
  color: #7C3A37;
  text-align: justify;
}
.alert-info-yellow {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
  text-align: justify;
}
.alert-info-blue {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #3a87ad;
  /* text-align: justify; */
}


/* Table */
#customer_table {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.95rem;
  border-collapse: collapse;
  width: 100%;
  table-layout:fixed;
  word-break:break-word;
}
#customer_table td, #customer_table th {
  border: 1px solid #ddd;
  text-align: center;
  padding: 0.2em;
}
#customer_table tr:nth-child(even){background-color: #f2f2f2;}
#customer_table tr:hover {background-color: #ddd;}

#atable {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.95rem;
  border-collapse: collapse;
  width: 100%;
  table-layout:fixed;
  word-break:break-word;
  margin-bottom: 15px;
  margin-top: 10px;
}
#atable td, #atable th {
  border: 1px solid #ddd;
  text-align: center;
  padding: 0.2em;
}


#drug_table {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.95rem;
  border-collapse: collapse;
  width: 100%;
  table-layout:fixed;
  word-break:break-word;
  margin-bottom: 15px;
  margin-top: 10px;
}
#drug_table td, #drug_table th {
  border: 1px solid #ddd;
  text-align: center;
  padding: 0.2em;
}
#drug_table td:hover {background-color: #ddd;}

#pre_table {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.95rem;
  border: 0;
  width: 100%;
  table-layout:fixed;
  word-break:break-word;
  margin-bottom: 15px;
  margin-top: 10px;
  border-collapse: collapse;
  color: #444;
}
#pre_table td {
  border: 1px solid #ddd;
  /* text-align: center; */
  padding: 0.5em;
  border-collapse: collapse;
}
#tdw{
  width: 8%;
}




/* Full-height Fixed Vertical Navbar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 11.5rem; /* width of the navbar */
  background-color: #f1f1f1;
  border-right: 0.8px solid #ccc;
  position: fixed;
  height: 100%;
  overflow: auto;
}
li a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
}
li a.active {
  background-color: #DEDEDE;
  color: white;
}
li a:hover:not(.active) {
  background-color: #DEDEDE;
  color: white;
}


/* Sidebar */
.side-nav-wrapper {
  height: 100%;
  background-color: #ededed;
}
.side-nav h1 {
  font-size: 18px;
  text-align: center;
  margin: 0;
  border-bottom: 1px solid #ccc;
}
.side-nav h1 a {
  padding: 20px 0 15px;
}
.side-nav h1 img {
  width: 120px;
}
.side-nav h1 small {
  font-size: 12px;
}
.side-nav .side-nav-title a {
  color: #333;
  font-size: 16px;
  font-weight: normal;
  padding: 15px 0;
}
.side-nav .mqc_loading_warning {
  text-align: center;
  border-bottom: 1px solid #ccc;
  color: #ca424c;
}
.side-nav p {
  font-size: 0.8em;
  color: #999;
  padding: 10px;
}
.side-nav ul.mqc-nav {
  border-bottom: 1px solid #ccc;
}
.side-nav ul.mqc-nav, .side-nav ul.mqc-nav ul {
  height: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: auto;
  position: fixed;
}
.side-nav a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
}
.side-nav a:hover, .side-nav a:active, .side-nav a:focus {
  background-color: #dedede;
}
.side-nav .mqc-nav a.nav-l1 {
  /* top, right, bottom, left */
  padding: 10px 0px 10px 0px;
  border-top: 1px solid #ccc;
}
.side-nav .mqc-nav li:first-child .nav-l1 {
  border-top: 0;
}
.side-nav .mqc-nav a.nav-l2 {
  padding: 5px 0px 5px 0px;
  border-top: 1px solid #dedede;
  font-size: 1.0em;
  color: #788fa4;
}
.side-nav .mqc-nav li {
  position: relative;
}
#side-nav-handle {
  display: block;
  position: absolute;
  top: 50%;
  right: -14px;
  height: 50px;
  width: 15px;
  padding-top: 14px;
  border: 1px solid #ccc;
  border-left: 0;
  background-color: #ededed;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #ccc;
  cursor: pointer;
}
#side-nav-handle .glyphicon-triangle-right {
  color: #999;
}
@media only screen and (max-width: 768px){
  #side-nav-handle { display: none; }
}
.side-nav .navbar-toggle {
  background-color: #ddd;
  border-color: #999;
  position: absolute;
  right: 0px;
  top: 15px;
  margin: 0;
}
.side-nav .navbar-toggle:hover, .side-nav .navbar-toggle:focus, .side-nav .navbar-toggle:active {
  background-color: #ccc;
}
.side-nav .navbar-toggle .icon-bar {
  background-color: #999;
}



#page_title {
  margin: 20px 0px -10px;
}
#page_title img {
  width: 300px;
}

/* lead description */
.head_lead {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 10px;
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.5;
}
.main_lead {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 20px;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
}

/* footer */
.footer {
  background-color: #f1f1f1;
  border-top: 0.8px solid #ccc;
  font-size: 0.9rem;
  color: #999;
  margin-left: 11.5rem; /* width of navbar(ul) */
  margin-right: -2.2rem;
  padding: 1px 0px; /* 1px will ensure that the footer reaches the bottom of the page */
}
.footer p {
  margin-left: 3.5rem; /* width of main_page (15rem) subtract navbar(ul) (11.5rem) */
  padding: 1px;
  font-size: 0.8rem;
  color: #999;
}
.footer a {
  color: #999;
  text-decoration: underline;
}

/* summary */
.sum-R{
  font-size: 1.2rem;
  color: #2D695B;
}
.sum-U{
  font-size: 1.2rem;
  color: #F3B13E;
}
.sum-A{
  font-size: 1.2rem;
  color:  #AF2318;
}
.sum-info{
  font-size: 0.8rem;
  font-style: italic;
  margin-bottom: 0;
}
.sum-drug{
  white-space:pre-wrap;
  width:50px;
}

#multi-locus{
  font-size: 1.4rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
}
#single-locus{
  font-size: 1.4rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}


.level-1a1b{
  background:#55B979;
  border-radius: 25%;
  height: 20px;
  width: 25px;
  line-height: 20px;
  display: inline-block;
  text-align: center;
  /* margin-right: 6px; */
  color: white;
  font-size: 0.9rem;
}

.level-2a2b{
  background:#3F72D8;
  border-radius: 25%;
  height: 20px;
  width: 25px;
  line-height: 20px;
  display: inline-block;
  text-align: center;
  /* margin-right: 6px; */
  color: white;
  font-size: 0.9rem;
}