@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #707070;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

html {
  font-size: 12px;
}

@media screen and (min-width: 32rem) and (max-width: 48rem) {
  html {
    font-size: 15px;
  }
}

@media screen and (min-width: 48rem) {
  html {
    font-size: 16px;
  }
}

body {
  line-height: 1.85;
}

p,
.air-p {
  font-size: 1rem;
  margin-bottom: 1.3rem;
}

h1,
.air-h1,
h2,
.air-h2,
h3,
.air-h3,
h4,
.air-h4 {
  margin: 1.414rem 0 .5rem;
  font-weight: inherit;
  line-height: 1.42;
}

h1,
.air-h1 {
  margin-top: 3rem;
  font-size: 2.5rem;
}

h2,
.air-h2 {
  font-size: 2rem;
}

h3,
.air-h3 {
  font-size: 1.6rem;
}

h4,
.air-h4 {
  font-size: 1rem;
}

h5,
.air-h5 {
  font-size: 0.8rem;
}

h6,
.air-h6 {
  font-size: 0.7rem;
}

small,
.air-small {
  font-size: 0.6em;
}

/* https://github.com/mrmrs/fluidity */

img,
canvas,
iframe,
video,
svg,
select,
textarea {
  max-width: 100%;
}


body {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  margin: 3rem auto 1rem;
  width: 90%;
  text-align: left;
}

img {
  border-radius: 50%;
  height: 200px;
  margin: 0 auto;
  width: 200px;
}

a,
a:visited {
  color: #3C689B;
}

a:hover,
a:focus,
a:active {
  color: #3C689B;
}

pre {
  background-color: #fafafa;
  padding: 1rem;
  text-align: left;
}

blockquote {
  margin: 0;
  color: #666;
  font-style: italic;
  text-align: left;
}

ul,
ol,
li {
  text-align: left;
}

p {
  color: #444;
  text-align: justify;
}


/* Box */
.alert {
  margin: 1em 0;
  padding: 0.6em;
  border-radius: 4px;
  text-shadow: 0 1px 0 rgb(255 255 255 / 50%);
}
.alert-info-red {
  background-color: #EAD6D5;
  border-color: #EFDFDE;
  color: #7C3A37;
  text-align: justify;
}
.alert-info-yellow {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
  text-align: justify;
}
.alert-info-blue {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #3a87ad;
  text-align: justify;
}


/* Table */
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 2px;
  text-align: center;
}
#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

/* Full-height Fixed Vertical Navbar */
body {
  margin: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 11rem;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}
li a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
}
li a.active {
  background-color: #5097d5;
  color: white;
}
li a:hover:not(.active) {
  background-color: #5097d5;
  color: white;
}